@using RentalProject.Models;
@model IEnumerable<PremisesTypes>
@{
    ViewData["Title"] = "Index";
}

<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Premises Type List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">&nbsp; New Premises Type</a>
    </div>
</div>
<h1>Index</h1>

